.login-button {
  background-color: aliceblue;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 5px;
  margin: 10px;
  border: 1px solid rgb(245, 245, 245);
}
.user-name-container {
  display: block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 4px;
}
.user-name-container div {
  margin-bottom: 10px;
}
.user-name-container label {
  margin-right: 10px;
}
